$orange: #a0540c;
$border: #5b5b5b;
$div: rgba(41, 41, 41, 0.479);
$background: #0c0c0c;
$borderRadius: 6px;
$boxMargin: 10px;
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$boxShadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);


.main-component-container{
    display: flex;
    height: 100vh;
    background-color: $background;

    .main-component-container-left{
        width: 25%;
        margin-right: $boxMargin;
        

        .profile-container{
            width: 100%;
            height: 200px;
            background-color: $div;
            margin: $boxMargin;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
        }
        .category-list-container{
            width: 100%;
            height: calc(100vh - 230px);
            background-color: $div;
            margin: $boxMargin;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
            overflow: auto;
        }

    }

    .add-film-container{
        width: 75%;
        height: calc(100vh - 20px);
        background-color: $div;
        margin: $boxMargin;
        margin-left: $boxMargin;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        overflow: auto;
    }

    
}
