$orange: #a0540c;
$border: #5b5b5b;
$div: rgba(41, 41, 41, 0.479);
$background: #3e3e3e;
$borderRadius: 6px;
$boxMargin: 10px;
$boxShadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
$font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

.profile-box{
    width: 100%;

    .box-photo{
        height: 120px;
        display: flex;

        img{
            width: 70px;
            height: 70px;
            border-radius: 100px;
            box-shadow: $boxShadow;
            margin: 25px 0 0 20px;
        }
        h3{
            display: flex;
            margin: 0px;
            padding-left: 20px;
            align-items: center;
            color: white;
            width: 100%;
            font-family: $font;
            font-size: 25px;
        }
    }
    .box-button{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 0px 20px;
        height: 80px;

        button{
            width: 45%;
            height: 30px;
            background-color: $div;
            border: 1px solid $orange;
            border-radius: $borderRadius;
            color: $orange;
            font-style: $font;
            font-size: 1.3vw;
            cursor: pointer;
            transition: background-color 1s ease;
        }
        button:hover{
            background-color: $orange;
            border: 1px solid $orange;
            border-radius: $borderRadius;
            color: black;
        }
    }
}