$orange: #a0540c;
$border: #5b5b5b;
$div: rgba(41, 41, 41, 0.479);
$background: #0c0c0c;
$borderRadius: 6px;
$boxMargin: 10px;
$boxShadow: 0 0 10px 5px rgba(26, 26, 26, 0.5);
$font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



.add-film-box{
    width: 100%;
    height: 100%;

    .box-add{
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;

        h3{
            color: $orange;
            width: 42%;
            font-family: $font;
            font-size: 24px;
        }
        button{
            width: 8%;
            height: 45px;
            background-color: $div;
            border: 1px solid $orange;
            border-radius: $borderRadius;
            color: $orange;
            font-style: $font;
            font-size: 36px;
            cursor: pointer;
            transition: background-color 1s ease;
        }
        button:hover{
            background-color: $orange;
            border: 1px solid $orange;
            border-radius: $borderRadius;
            color: black;
        }
        input{
            width: 30%;
            height: 41px;
            background-color: $div;
            border-radius: $borderRadius;
            border: 1px solid $orange !important;
            color: white;
            margin: 0px 10px 0 0;
        }
        .box-add-name{
            width: 20%;
        }
    }

    hr{
        margin: 0 0 15px 0;
        height: 4px;
        width: 100%;
        background-color: $background;
        border: 0px;
        box-shadow: $boxShadow;
    }

    .box-categories{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 15px;
        padding: 0 15px 15px 15px;

        .box-categories-item{
            height: 150px;
            border-radius: $borderRadius;
            background-color: $div;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0px solid $border;
            color: rgb(212, 212, 212);
            box-shadow: $boxShadow;
            font-size: 20px;
            cursor: pointer;
            margin: 0;

            h3{
                width: 100%;
                height: 40px;
                margin: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-family: $font;
                border-bottom: 1px solid $border;
            }
            textarea{
                width: 98.2%;
                border: 0;
                height: 100px;
                border-radius: 0;
                color: $border;
                background-color: rgba(12, 12, 12, 0);
                resize: none;
            }

        }
        .box-categories-item:hover{
            background-color: #161616;
            border-radius: $borderRadius;
            color: $orange;
        }
    }
}
